---
---

@import "{{ site.theme }}";

ul.downloads {
  list-style:none;
  height:0px;
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #ffffff;
  width:270px;
}

.downloads li {
  width:90px;
  float:left;
  border-right:1px;
  height:10px;
}

.downloads a {
  line-height:1;
  font-size:13px;
  color:#5a7a52;
  display:block;
  text-align:center;
  padding-top:6px;
  height:20px;
}
