---
---

@import "{{ site.theme }}";

body {
  background-color: #fff;
  padding:30px;/* Top padding? */
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}

section {
  width:550px;
  float:right;
  padding-left:10px;
  padding-bottom:50px;
}

ul.downloads {
  list-style:none;
  height:475px; /* This line makes the green container larger */
  background: #f4f4f4;
  border-radius:10px;
  width:280px; /* This line makes the green container wider */
}

.downloads li {
  width:90px;
  float:left;
  border-right:1px;
  height:40px;
}

.downloads a {
  line-height:1;
  font-size:13px;
  color:#384c33;
  display:block;
  text-align:center;
}
