---
---

@import "{{ site.theme }}";

ul.downloads {
  list-style:none;
  height:40px;
  padding:0;
  background: #c68bb4;
  border-radius:5px;
  border:1px solid #131677;
  width:270px;
}

.downloads li {
  width:89px;
  float:left;
  border-right:1px solid #37b247;
  height:40px;
}

.downloads li:first-child a {
  border-radius:5px 0 0 5px;
}

.downloads li:last-child a {
  border-radius:0 5px 5px 0;
}

.downloads a {
  line-height:1;
  font-size:11px;
  color:#a53636;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}